{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fayza's Web - Book Search</title>

<script src="../static/js/script8.js" type='text/javascript'></script>

{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}

<div class="wrapper-page">
  <h1 class="abril-font" style="font-size: 60px; font-weight: bold;">Book Search</h1>
  <p>Cari buku disini :D</p>
  <div class="align-content-center" > 
    <input class="form-control form-inline" type="text" id="keyword" placeholder="Book...">
    <input class="form-control form-inline btn btn-primary click" style="margin-top: 20px; width: 50%;" type="button" id="search" value="Search">    
  </div>
</div>

<div class="card shadow mb-5" style="margin:5vw;">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No.</th>
              <th>Title</th>
              <th>Author(s)</th>
              <th>Description</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody id="book-data">
            
          </tbody>
      </div>
    </div>
</div>
</div>
  


{% endblock content %}