body {
  background-color: #ECEAEA;
  padding-right: 3rem;
  padding-left: 1rem;
}

img.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1.header {
    text-align: center;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: 	#A38D7B;
    text-shadow: 2px 2px black;
    transition: 0.5s ease;
}

h3.header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #525252;
}

a.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #525252;
}

  .left-content {
    width: 0%;
    float: left;
    background-color: $accent3;
    padding-left: 100px;
    padding-top: 50px ;
  }

   img.profile-img {
      padding-left: 25px;
      filter: drop-shadow(5px 5px 8px #222);
      transition: 1s ease;
    }

    img.profile-img:hover {
      opacity: 1;
    }
    
    img.icon-socials {
      width: 50px;
      height: 50px;
      padding-right: 21px;
    }

    .bborder {  
      border-bottom: 3px solid $accent2;
      margin-top: 10px;
    }

    .profile-left {
      background-color: white;
      margin-top: 20px;
      padding: 20px 30px;
      border-radius: 20px;
      width: 300px;
      box-shadow: 5px 10px 18px #888888;
      transition: 1.2s ease;
      }

  .right-content {
    float: right;
    width: 60%;
    padding: 0px;
    padding-top: 50px ;
    padding-right: .5em;
  }

    .profile-right {
      padding: 40px 60px;
      background-color: white;
      margin: 0;
      margin-bottom: 50px;
      border-radius: 20px;
      box-shadow: 5px 10px 18px #888888;
      transition: 1.2s ease;
      }
      
      img.logos {
        float: left;
      }

      .icon-desc {
        background-color: rgba($accent1, 0.1);
      }

      img.icon-desc {
        float: left;
      }

      h2.icon-desc {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #AB7F71;
        font-weight: bold;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 100px;
      }

      h4.icon-desc {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color:black;
        padding-top: 10px;
        padding-left: 100px;
        margin: 0;
      }

      h5.icon-desc {
        font-family: Arial, Helvetica, sans-serif;
        color: #312f2f;
        padding-top: 10px;
        padding-left: 100px;
        margin: 0;
      }

        a:link {
          color: #0A1128;
          background-color: transparent;
          text-decoration: underline;
        }

        a:visited { text-decoration: none; color: #AB7F71; }
        a:hover, a:active { text-decoration: none; color: #adc1cf }

      h2 {
        color: #AB7F71;
        font-weight: bold;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
      }

      h3.profile {
        color: black;
        font-weight: bold;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      p.desc {
        font-weight: 100;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        line-height: 1.6;
      }
      