{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fayza's Web - Lihat Kegiatan</title>
<link rel="stylesheet" type="text/css" href="../static/story3/css/style.css">
{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
{% if user.is_authenticated %}

<div class="d-flex flex-column justify-content-center">
<h1 class="abril-font" style="font-size: 60px; font-weight: bold; text-align: center;">Lihat Kegiatan</h1>
<a href="{% url 'story6:daftarkan' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Daftarkan</a>  

    <form method="POST" novalidate>
        {% csrf_token %}
        <table class="table mx-3" style="width:88vw">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit" class="btn btn-primary click"></td>
            </tr>
        </table>
    </form>

    <div class="card shadow mb-5" style="margin:5vw;">
        <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                <th>Kegiatan</th>
                <th>Peserta</th>
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for data in kegiatan %}
                <tr>
                <td><b>{{data.kegiatan}}</b></td>
                    {% csrf_token %}
                    {% for datapeserta in peserta %}
                    {% if datapeserta.kegiatan == data %}
                        <td> {{datapeserta.nama}} </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% empty %}
                <p>Belum mendaftarkan kegiatan.</p>
                {% endfor %}
            </tbody>
        </table>
        </div>

        </div>    
    </div>

</div>  

    {% else %}
    <div class="d-flex flex-column justify-content-center">
        <h1 class="abril-font" style="font-size: 60px; font-weight: bold; text-align: center;">Lihat Kegiatan</h1>
        <a href="{% url 'story6:daftarkan' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Daftarkan</a>  
        <p class="d-flex justify-content-center">log in dulu kalau mau liat :3</p>
    </div>
    {% endif %}

{% endblock content %}