{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fayza's Web - Contact</title>
<link rel="stylesheet" type="text/css" href="../static/story3/css/style.css">
{% endblock head %}

{% block content %}
  <!-- Page content -->
  <div class="content">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight contact-me">
            <a href="mailto:fayza.azzahra@gmail.com">
                Contact Me!
            </a>
        </div>
    </div>
  </div>

{% endblock content %}
