{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>Fayza's Web - Experiences</title>
<link rel="stylesheet" type="text/css" href="../static/story3/css/style.css">
{% endblock head %}

{% block content %}


  <div class="content">

    <div class="d-flex bd-highlight mb-3 " style="display: flex;flex-direction: column;">
        <div class="profile-right"> 
          <h2 style="margin-bottom: 2rem;">Volunteer Experiences</h2>
          <div class="container-experiences">

            <div class="column-experiences">
              <div class="item-experience">
                <h5 >Staff of Event(Stage)</h5>
                <h6 >COMPFEST 12</h6>
              </div>
              <div class="item-experience">
                <h5 >Staff of Event</h5>
                <h6 >Pesta Rakyat Komputer 2020</h6>
              </div>
              <div class="item-experience">
                <h5 >Staff of Public Relation</h5>
                <h6 >Open House Fasilkom UI 2019</h6>
              </div>
            </div>

            <div class="column-experiences">
              <div class="item-experience">
                <h5 >Head of Festival</h5>
                <h6 >Sky Avenue 2018</h6>
              </div>
              <div class="item-experience">
                <h5 >Staff of Entertainment</h5>
                <h6 >Sky Avenue 2017</h6>
              </div>
              <div class="item-experience">
                <h5 >Co-Stage Manager</h5>
                <h6 >Skylite Musicals 2017</h6>
              </div>
            </div>

          </div>
        </div>
        
            <div class="d-flex container-work">

                <div class="profile-right"> 
                  <h2 style="margin-bottom: 2rem;">Accomplishments</h2>
                  <h6>-</h6>
                </div>

                <div class="profile-right"> 
                  <h2 style="margin-bottom: 2rem;">Projects</h2>
                  <h6>-</h6>
                </div>

            </div>
      
      </div>


  </div>

{% endblock content %}

