{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>Fayza's Web - Profile</title>
<link rel="stylesheet" type="text/css" href="../static/story3/css/style.css">
{% endblock head %}

{% block content %}

  <div class="content">

    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight"> 
        <div class="about bd-highlight mb-3 ">
            <img class="fayza-img" src="../static/story3/img/fayzapix2.png" alt="fayza's pic" width="250" height="250">
            <div class="d-flex pl-4 container-about">
              <img class="hello" src="../static/story3/img/hello.png" alt="hello text" width="300" height="auto">
              <h4>My name is <b>Fayza Azzahra Robby</b>, and I go by the name <b>Fayza</b>. 
                I am a second-year Information System student at the Faculty of Computer Science, University of Indonesia.
                </h4>
            </div>
        </div>
      </div>

      <div class="profile-right"> 

        <h2 style="margin-bottom: 2rem;">Educational Background</h2>

        <div class="icon-desc">
          <img class="icon-desc" src="../static/story3/img/logo-ui.png" width="75" height="75"/>
          <div class="information-desc">
            <h5 class="icon-desc">University of Indonesia</h5>
            <h6 class="icon-desc">Bachelor's Degree, Infomation System</h6>
            <h6 class="icon-desc">2019 - present</h6>
          </div>
        </div>
        
      <div class="icon-desc">
        <img class="icon-desc" src="../static/story3/img/logo-labs.png" width="75" height="75"/>
        <div class="information-desc">
          <h5 class="icon-desc">Labschool Kebayoran High School</h5>
          <h6 class="icon-desc">High School Diploma, Natural Sciences</h6>
          <h6 class="icon-desc">2016 - 2019</h6>
        </div>
      </div>

    </div>
        
    <div class="profile-right"> 

        <h2 style="margin-bottom: 2rem;">Skills</h2>

        <div class="d-flex flex-row" style="align-items: center;">
          <h6 style="margin:0; width: 20%;" >Python</h6>
          <div class="skill-bar" style="width: 40%;"></div>
        </div>

        <div class="d-flex flex-row" style="align-items: center;">
          <h6 style="margin:0; width: 20%;">Java</h6>
          <div class="skill-bar" style="width: 20%;"></div>
        </div>

        <div class="d-flex flex-row" style="align-items: center;">
          <h6 style="margin:0; width: 20%;">HTML</h6>
          <div class="skill-bar" style="width: 10%;"></div>
        </div>

        <div class="d-flex flex-row" style="align-items: center;">
          <h6 style="margin:0; width: 20%;">CSS</h6>
          <div class="skill-bar" style="width: 10%;"></div>
        </div>

        <div class="d-flex flex-row" style="align-items: center;">
          <h6 style="margin:0; width: 20%;">Photoshop</h6>
          <div class="skill-bar" style="width: 40%;"></div>
        </div>

    </div>
    </div>
  </div>

{% endblock content %}


