{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fayza's Web - Lihat Jadwal</title>
<link rel="stylesheet" type="text/css" href="../static/story3/css/style.css">
{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div class="d-flex flex-column justify-content-center">
<h1 class="abril-font" style="font-size: 60px; font-weight: bold; text-align: center;">Jadwal Mata Kuliah</h1>
<a href="{% url 'matkul:daftarkan' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Daftarkan</a>  

<div class="card shadow mb-5" style="margin:5vw;">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Mata Kuliah</th>
              <th>Dosen</th>
              <th>Jumlah SKS</th>
              <th>Semester</th>
              <th>Ruang Kelas</th>
              <th>Deskripsi</th>
              <th>Hapus</th>
            </tr>
          </thead>
          <tbody>
            {% csrf_token %}
            {% for matkul in matkul %}
            <tr>
              <td><a href="{{ matkul.id }}">{{ matkul.nama }}</a></td>
              <td>{{ matkul.dosen }}</td>
              <td>{{ matkul.sks }}</td>
              <td>{{ matkul.smt }}</td>
              <td>{{ matkul.ruang }}</td>
              <td>{{ matkul.deskripsi }}</td>
              <td>
                <form method="POST" action="">
                  {% csrf_token %}
                  <input name="id" value="{{matkul.id}}" type="hidden">
                  <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2"
                      style="font-size: 0.8rem;">Hapus</button>
              </form>

              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}