{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fayza's Web - Detail Matkul</title>
<link rel="stylesheet" type="text/css" href="../static/story3/css/style.css">
{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}

{% if user.is_authenticated %}

<div class="d-flex flex-column justify-content-center">

  <h1 class="abril-font" style="font-size: 60px; font-weight: bold; text-align: center;">Detail Mata Kuliah</h1>
  <a href="{% url 'matkul:data' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Lihat Jadwal</a>  

  <div class="card shadow mb-5" style="margin:30px; margin-left: 100px; margin-right: 100px;">
    <div class="card-body" style="margin:10px">
      <h3><b>Matkul</b>: <span>{{ matkul.nama }}</span> </h3>
  <div class="table-responsive">
    <table class="table" id="dataTable" width="100%" cellspacing="0">
      <tbody style="width:fit-content;">
        <tr>
            <td><b>Dosen</b></td>
            <td> {{ matkul.dosen }} </td>
        </tr>

        <tr>
            <td><b>SKS</b></td>
            <td> {{ matkul.sks }} </td>
        </tr>

        <tr>
          <td><b>Semester</b></td>
          <td> {{ matkul.smt }} </td>
      </tr>

        <tr>
          <td><b>Kelas</b></td>
          <td> {{ matkul.ruang }} </td>
      </tr>

      <tr>
        <td><b>Deskripsi</b></td>
        <td> {{ matkul.deskripsi }} </td>
    </tr>
    </tbody>
    </table>
  </div>
  </div>
  </div>
</div>


{% else %}
<div class="d-flex flex-column justify-content-center">

  <h1 class="abril-font" style="font-size: 60px; font-weight: bold; text-align: center;">Detail Mata Kuliah</h1>
  <a href="{% url 'matkul:data' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Lihat Jadwal</a>  
    <p class="d-flex justify-content-center">log in dulu kalau mau lihat :3</p>
</div>
{% endif %}

{% endblock content %}