{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fayza's Web - Daftarkan Mata Kuliah</title>
<link rel="stylesheet" type="text/css" href="../static/story3/css/style.css">

{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
{% if user.is_authenticated %}

<div class="d-flex flex-column justify-content-center">
    <h1 class="abril-font" style="font-size: 60px; font-weight: bold; text-align: center;">Daftarkan Mata Kuliah</h1>
    <a href="{% url 'matkul:data' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Lihat Jadwal</a>  


    {% if status %}
    {% if status == 'success' %}
    <div class="alert alert-success" role="alert">
        Sukses mendaftarkan mata kuliah baru
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Terjadi kesalahan input, silahkan coba lagi
    </div>
    {% endif %}
{% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="mr-auto ml-auto" style="width: 50%;">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
        <br>
        <div class="container">
            <input type="submit" value="Submit" class="btn btn-primary click">
        </div>
        </div>
        <br> <br>

    </form>

</div>

{% else %}
<div class="d-flex flex-column justify-content-center">
    <h1 class="abril-font" style="font-size: 60px; font-weight: bold; text-align: center;">Daftarkan Mata Kuliah</h1>
    <a href="{% url 'matkul:data' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Lihat Jadwal</a>  
    <p class="d-flex justify-content-center">log in dulu kalau mau daftar :3</p>
</div>
{% endif %}

{% endblock %}