body {
    background-color: #ECEAEA !important;
    margin-top: 10rpx !important;
    margin-left: 10px !important;
}

.memoji {
    transform: rotate(5.29deg);
    margin-left: 240.58px;
    margin-top: 175px;
    width: 237.17px;
    height: 279.34px;
    float:left;
}

.hello{
  margin-bottom:1rem;
}

.container-about{
  margin-top: 0px !important;
  flex-direction: column;
}

.abril-font {
    font-family: Abril Fatface;
    color: #A97C6F;
}

.rubik-font {
    font-family: Quicksand;
}

a:hover, a:active { text-decoration: none; color: #adc1cf }

/* h1 { font-family: Quicksand; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Quicksand; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: Quicksand; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Quicksand; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Quicksand; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; } */


h3.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #525252;
  font-size: 18px;
}

.center{
    position:absolute;
    height: 50px;
    width: 50px;
    left:50%
    top:50%
}


.navbar {
    border-radius: 10px;    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;f

}
.navbar-header{
    color: #5e0231;
    background-color: #5e0231;
}

.navbar-inverse {
    border-radius: 10;
  }

  
.mainDiv{
    width:1000px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sidenav {
    /* height: 100%; */
    
    position: fixed;
    z-index: 1;s
    top: 0;
    left: 0;
    background-color: #C3D2DD;
    overflow-x: hidden;
    padding-top: 20px;
    width: 208px;
height: 716px;
left: 33px;
top: 30px;
border-radius: 10px;
text-align: justify-left;
}
  

  .sidenav a:hover {
    color: #f1f1f1;
  }

  * {box-sizing: border-box;}

  .site-nav {
    background: #4e87ea;
    width: 120px;
    border: 1px solid red;
  }
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0,0,0,.25);
    text-align: center;
  }


.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

p {
  margin: 0 0 1em 0;
  font-size: 20px;
}

.container {
    font-family: sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: row;

  }
   
  .flex-grid {
    color: white;
    display: flex;
    margin: auto -1rem 1rem;
  }
  
  .col {
    background-color: #C3D2DD;
    margin-left: 0.5rem;
    margin-right: 0.5rem;s
    padding: 1rems;
  } 
  
  .sidebar {
    flex: 1;
  }
  
  .main {
    flex: 3;
  }

.navbar-nav a{
  margin-right:1.5rem;
  font-size:15pt;
  color:black !important;
  font-weight: bold;
}

.navbar-nav a:hover{
  color: #A97C6F !important;
}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 1rem;
    width: 200px;
    background-color: #C3D2DD;
    border: 1px solid #C3D2DD;
    border-radius:15px;
    position: fixed;
    height: 80%;
    top:10%;
    left:2%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  
  }
  .sidebar h1{
    flex:0 0 10%;
  }
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    padding-left:0;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Active/current link */
    .sidebar a.active {
    background-color: #C3D2DD;
    color: #A38D7B;
  } 
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    /* background-color: #C3D2DD; */
    color: #A38D7B;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 75px;
    height: 1000px;
   
  }
  
  .about{
    display:flex;
    flex-direction:row;
    justify-content: start;
  }

  .profile-right {
    flex-direction: column;
    padding: 40px 60px;
    background-color: white;
    margin: 0;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
    transition: 1.2s ease;
    display: flex;
    margin-top: 4rem;
    }

    .profile-right h2{
      font-weight: bold;
    }
    

    .flex-column {
        margin-top: 100px !important;
    }

    .icon-desc{
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
     
    }
    .icon-desc img{
      margin-right: 2rem;
    }
    .information-desc{
      display: flex;
      flex-direction: column;

    }
    .skill-bar{
      height:10px;
      background-color:#C4C4C4;

    }
    .copyright{
      display:flex;
      justify-content: flex-end;
      bottom:0px;
      right:10px;
    }
    .social-media{
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    .social-media a{
      width:20%;

    }
    .social-media img{
      width:100%;
    }
    .line{
      width:100%;
      height:4px;
      background-color: black;
      margin-bottom:1rem;
    }
    .container-experiences{
      display:flex;
      flex-direction: row;
    }
    .column-experiences{
      width:50%;
    }
    .item-experience{
      margin-bottom:1rem;
    }
    .container-work{
      display:flex;
      flex-direction:row;
      justify-content: space-between;

    }
    .container-work .profile-right{
      width:48%;
    }
    .contact-me{
      margin-top:3rem;
    }
    .contact-me a{
      font-size:4rem;
      font-weight: bold;
      color:black;
      
    }
    .container-home{
      display: flex; 
      flex-direction: row;
      align-items: center;
    }

    .container-blog{
      padding:2rem 2rem 2rem 10rem;
      display:flex;
      flex-direction:row;
      justify-content: space-between;

    }
    .left-article{
      width:70%;

    }
    .archives{
      width:20%;
      background-color:white;
      height:400px;
      border:1px solid white;
      border-radius:10px;
      padding:1rem;
    }
    .navbar-blog{
      display:flex;
      flex-direction: row;
      align-items: center;
    }
    .navbar-blog .navbar{
      width:100%;
    }
    .memoji-blog{
      transform: rotate(5.29deg);
      width: 100px;
      height: 100px;
      margin-left:2rem;
      display:block;
    }
  
  @media only screen and (max-width:1050px){
    .container-work{
      flex-direction: column;
      justify-content: start;
    }
    .container-work .profile-right{
      width:100%;
    }
    .container-home{
      flex-direction: column;
      margin-top:15rem;
    }
    .memoji{
      margin-left:0;
      margin-top:0;
      align-self: center;
    }
   
    .container-home div{
      margin-bottom:0 !important;
      margin-top: 0 !important;
    }
  }
  @media screen and (max-width:900px){
    .container-blog{
      flex-direction:column;
    }
    .left-article{
      width:100%;

    }
    .archives{
      width:100%;
      margin-top:2rem;
     
    }
    .memoji-blog{
      display:none;
    }
  }
  @media screen and (max-width: 880px) {
    .profile-right h6{
      width:50% !important;
    }
    }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      left: 0;
    }
    .about{
      display: flex;
      flex-direction: column !important;
      align-items: center;
    }
    .sidebar a {float: left;}
    div.content {
      margin-left: 
      0;
      padding:1px 20px;
    }
    .social-media a{
      width:10%;

    }
    .container-blog{
      padding:2rem 2rem 2rem 2rem;
   

    }
  }
  

  /* On screens that are less than 450px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 450px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .icon-desc{
    
      flex-direction: column;
  
    }
    .container-experiences{
      flex-direction: column;
    }
    .column-experiences{
      width:100%;
    }
    h1,h2{
      font-size:1.5rem !important;
    }
    h3,h4,h5,h6{
      font-size:0.75rem !important;

    }
  }


 .btn-outline-primary{
   margin: auto;
  
 }

 btn {
  background-color: #A97C6F;
  color: black;
 }

.alert-success {
  width: 50%;
}

/* navbar toggle */
@media screen and (min-width: 1325px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


/* ACCORDION */

.wrapper-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* height: 100vh;
  width: 100vw; */
  margin-top: 100px;
}

.accordion { margin: 10px ; }

.accordion-header {
  font-size: 20px;
  background-color: #C3D2DD ;
  border-radius: 5px;
  padding: 8px;
  width: 600px;
  margin: 10px;
  font-weight: bold;
}

.accordion-header:hover {
  background-color: #8da4b5;
  cursor: pointer;
}

.accordion-title:hover { cursor: pointer; }

.accordion-content {
  display: none;
  overflow: auto;
  width: 600px;
  margin: 10px;
}

.move {
  background-color: #C3D2DD ;
  border: none;
  z-index: 10;
}

@media screen and (max-width: 900px) {
  .accordion-header {
    font-size: 20px;
    background-color: #C3D2DD ;
    border-radius: 5px;
    padding: 8px;
    width: 400px;
    margin: 10px;
    font-weight: bold;
  }
}

@media screen and (max-width: 450px) {
  .accordion-header {
    font-size: 20px;
    background-color: #C3D2DD ;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    margin: 10px;
    font-weight: bold;
  }
}