{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fayza's Web | Story 1</title>
{% block stylesheet %}
<link href="{% static 'story1/css/style.css' %}" rel="stylesheet">
{% endblock stylesheet %}
{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
    <img class="header" src="../static/story1/img/hello.gif" height="200" width="450"/>
    <div class="left-content">
        <img class="profile-img" src="../static/story1/img/fayzapix2.png" width="300" height="300">
        <div class="profile-left">
            <h2>Fayza Azzahra Robby</h2>
            <p class="desc profile">Hello! Welcome to my first website that I built for my Web Design and Programming class.
                                    Click <a href="http://fayzazzahra.herokuapp.com/">here</a> to view the original website.</p>
            <h3 class="profile">Contact Me!</h3>
            <a href="https://www.linkedin.com/in/fayzazzahra"><img class="icon-socials" src="../static/story1/img/linkedin-icon.png"/></a>
            <a href="https://wa.me/08111111725"><img class="icon-socials" src="../static/story1/img/wa-icon.png"/></a>
            <a href="https://www.instagram.com/fayzazzahra/"><img class="icon-socials" src="../static/story1/img/ig-icon.png"/></a>
            <a href="https://www.twitter.com/fayzazzahra/"><img class="icon-socials" src="../static/story1/img/twitter-icon.png"/></a>
        </div>
    </div>
    
    <div class="right-content">
        <div class="profile-right">
          <h2>About Me</h2>
            <div class='bborder'>
               <p class="desc">My name is <b>Fayza Azzahra Robby</b>, and I go by the name <b>Fayza</b>. 
                I am a second-year Information System student at the Faculty of Computer Science, University of Indonesia.
                Other than the things I do that is uni-related, I am an aspiring baker. I've been baking for more than half of my life.
                Seeing the smile on the people around me after enjoying my baked goods really gets me going.
            </p>  
            <hr>
            </div>
            <div class="bborder">
                <img class="icon-desc" src="../static/story1/img/fayzabakes.png" width="80" height="80">
                <h2 class="icon-desc"><a href= "https://www.instagram.com/fayzabakes/">fayzabakes</a></h2>
                <p class="desc">An Online Bakery that I started back in 2019. Serving baked goods with premium ingredients.</p>
            </div>
        </div>

        <div class='profile-right'>
          <h2>Educational Background</h2>
          <div class="icon-desc">
            <img class="icon-desc" src="../static/story1/img/logo-ui.png" width="75" height="75"/>
            <h4 class="icon-desc">University of Indonesia</h4>
            <h5 class="icon-desc">Bachelor's Degree, Infomation System</h5>
            <h5 class="icon-desc">2019 - present</h5>
            <hr>
          </div>
          <div class="icon-desc">
            <img class="icon-desc" src="../static/story1/img/logo-labs.png" width="75" height="75"/>
            <h4 class="icon-desc">Labschool Kebayoran High School</h4>
            <h5 class="icon-desc">High School Diploma, Natural Sciences</h5>
            <h5 class="icon-desc">2016 - 2019</h5>
          </div>

        </div>
    </div>

{% endblock content %}

