{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="../static/js/script7.js" type='text/javascript'></script>
<title>Fayza's Web - Experiences</title>
<!-- <link rel="stylesheet" type="text/css" href="../static/story3/css/style.css"> -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script> -->
<!-- <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->


{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div class="wrapper-page">
    <h1 class="abril-font" style="font-size: 60px; font-weight: bold;">Experiences</h1>
    <p>Feel free to click around!</p>

    <div class="accordion">

      <div>
        <div class="accordion-header d-flex justify-content-between">
          <label class="accordion-title">Current Activities</label>
          <div class="d-flex justify-content-end">
           <button class="btn-move-up move"><i class="fa fa-angle-up"></i></button>
           <button class="btn-move-down move"><i class="fa fa-angle-down"></i></i></button>
          </div>
       </div>
       <div class="accordion-content">
         <li>Ngerjain tugas Semester 3</li>
         <li>Study</li>
         <li>Nyari-nyari lomba yang bisa diikutin</li>
         <li>Exploring which tech field I am most interested in</li>
       </div>
      </div>
      
      <div>
        <div class="accordion-header d-flex justify-content-between">
          <label class="accocrdion-title">Experiences</label>
            <div class="d-flex justify-content-end">
           <button class="btn-move-up move"><i class="fa fa-angle-up"></i></button>
           <button class="btn-move-down move"><i class="fa fa-angle-down"></i></i></button>
          </div>
       </div>
        <div class="accordion-content">
          <li>Staff of Event - Stage (Compfest 12)</li>
          <li>Staff of Event - PERAK 2020</li>
          <li>Staff of PR - Open House Fasilkom 2019</li>
          <br>
          <li>Head of Festival - Sky Avenue 2018</li>
          <li>Head of MPK - SMA Labschool Kebayoran</li>
          <li>Co-Stage Manager - Skylite 2017</li>
        </div>
      </div>
      
      <div>
        <div class="accordion-header d-flex justify-content-between">
          <label class="accocrdion-title">Achievements</label>
          <div class="d-flex justify-content-end">
           <button class="btn-move-up move"><i class="fa fa-angle-up"></i></button>
           <button class="btn-move-down move"><i class="fa fa-angle-down"></i></i></button>
          </div>
       </div>
        <div class="accordion-content">
          <p style="font-style: italic;">Hopefully this part will be filled out in the near future!</p>
        </div>
      </div>
      
      <div>
        <div class="accordion-header d-flex justify-content-between">
          <label class="accocrdion-title">Skills</label>
          <div class="d-flex justify-content-end">
           <button class="btn-move-up move"><i class="fa fa-angle-up"></i></button>
           <button class="btn-move-down move"><i class="fa fa-angle-down"></i></i></button>
          </div>
       </div>
        <div class="accordion-content">
          <li>Python</li>
          <li>Java</li>
          <li>HTML, CSS</li>
          <li>JavaScript (beginner)</li>
        </div>
      </div>
    
    </div>

</div>

{% endblock content %}