{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{% static 'img/memoji-fyz.png' %}" type="image/gif">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock stylesheet %}
	<link href="https://fonts.googleapis.com/css?family=Airbnb+Cereal+App&display=swap" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abril Fatface" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link  href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://kit.fontawesome.com/4ee029818e.js" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script> -->

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
 

  {% block head %}
  {% endblock head %}
</head>

<body>

  {% block navbar %}
  <!-- <h5 style="margin-top: 10px;"><a href="{% url 'matkul:daftarkan' %}">Story #5 </a>| Fayza Azzahra Robby - 1906305934</h5> -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#C3D2DD">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'main:home' %}">Home</a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stories
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="{% url 'story1:home' %}">Story 1</a>
           <a class="nav-link" href="{% url 'story3:profile' %}">Story 3</a>
        </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mata Kuliah
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'matkul:daftarkan' %}"> Daftarkan </a>
            <a class="dropdown-item" href="{% url 'matkul:data' %}">Lihat Jadwal</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kegiatan
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'story6:daftarkan' %}"> Daftarkan </a>
            <a class="dropdown-item" href="{% url 'story6:data' %}">Lihat Kegiatan</a>
          </div>
        </li>

        <a class="nav-link" href="{% url 'story7:experiences' %}">Experiences</a>
        <a class="nav-link" href="{% url 'story8:book-search' %}">Book Search</a>
        
          <a class="nav-link" style="color: salmon;" href="{% url 'story9:signup' %}">Sign Up</a>
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          {% else %}
          <a class="nav-link" style="color: salmon;" href="{% url 'login' %}">Log In</a>
          {% endif %}

      </div>
    </div>
  </nav>
  

  
  {% endblock navbar %}
 
  
  {% block sidebar %}
  <div class="sidebar">
    <h1 class="abril-font" style="padding:0;">fayza azzahra</h1>
    <h6>Information System Student at University of Indonesia</h6>
    <a href="{% url 'main:home' %}">Home (Story 4)</a>
    <a href="{% url 'story3:profile' %}">Profile</a>
    <a href="{% url 'story3:experiences' %}">Experiences</a>
    <a href="{% url 'story3:contact' %}">Contact</a>
  
    <div class="line">
    </div>
  
    <div class="social-media">
      <a href="mailto:fayza.azzahra@gmail.com">
        <img  src="../static/story3/img/mail-icon.png" alt="mail" >
      </a>
      <a href="https://www.linkedin.com/in/fayzazzahra">
        <img  src="../static/story3/img/linkedin-icon.png" alt="linkedin" >
      </a>
      <a href="https://api.whatsapp.com/send?phone=628111111725">
        <img  src="../static/story3/img/wa-icon.png" alt="wa" width="250" >
      </a>
     <a href="https://www.instagram.com/fayzazzahra/">
      <img  src="../static/story3/img/ig-icon.png" alt="ig" width="250" >
     </a>
    </div>
  </div>
  {% endblock sidebar %}

  {% block content %}
  {% endblock content %}

  {% block script %}
  {% endblock script %}
</body>
</html>