{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>Fayza Azzahra R.</title>
{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
	
<div class="d-flex align-items-center flex-column">
	{% if user.is_authenticated %}
			<h3 class="quicksand-font" style="font-style: bold;">Hello, {{ user.username }}! Welcome :)</h3>
			<!-- <h3 class="quicksand-font">Welcome to Fayza's Website :)</h3> -->
			<p><a href="{% url 'logout' %}">Log Out</a></p>
			{% else %}
			<h3 class="quicksand-font">You are not logged in :(</h3>
			<!-- <a href="{% url 'login' %}">Log In</a> -->
			{% endif %}

</div>
  <div class="d-flex align-items-center justify-content-center" style="height: 500px">

	<div class="container-home">
		<img class="memoji" src="../static/main/img/memoji-fyz.png" alt="fayza's icon">
		<div class="d-flex flex-column mb-3" style="width: 50%;">
			
			<h1 class="abril-font" style="font-size: 60px; padding-top: 5rem; font-weight: bold;" >fayza azzahra robby</h1>
			<h1 class="quicksand-font" style="font-size: 30px;" >Information System Student at University of Indonesia</h1>
		</div>
	</div>
</div>

  {% endblock content %}